body {
  background-color: #ebecec;
}

.card {
  background-color: #fff;
}

.card-header {
  background-color: #06bc83;
}

input.form-control,
textarea.form-control,
select.form-control {
  background-color: #f7f7f7;
  border: 1px solid #ccc;
}

input.form-control:focus,
textarea.form-control:focus,
select.form-control:focus {
  background-color: #ffffff;
  border-color: #06bc83;
}

textarea.form-control {
  resize: none;
  overflow-y: auto;
}

label {
  color: #666;
}
